<div class="container auth">
	<figure class="logo"></figure>
	<h1 class="welcome">Welcome to AltoStratus!</h1>
	<p>AltoStratus allows you to store your music library in the cloud with Dropbox and then stream your tune from anywhere. To get started, sign in to your Dropbox using the button below...</p>
	<button class="sign-in">sign in to dropbox</button>
</div>