<nav>
	<ul class="nav">
		<li><a class="nav-home" href="#home"><img src="img/logo-blue.png"></a></li>
		<li><a href="#albums">Albums</a></li>
		<li><a href="#artists">Artists</a></li>
		<li><a href="#songs">Songs</a></li>
		<li><a href="#playlists">Playlists</a></li>
		<li><input type="search" placeholder="Search Music"></li>
	</ul>
</nav>