<div class="progress-bar"><span class="progress"></span></div>
<div class="now-playing">
	<p>Now playing:</p>
	<img src="" alt="">
	<div class="song-info">
		<p class="title"></p>
		<p class="small"></p>
	</div>
</div>
<div class="controls">
	<a class="prev" href="#prev">prev</a>
	<a class="play-pause" href="#play">play/pause</a>
	<a class="next" href="#next">next</a>
</div>
<a href="#queue" class="queue">Q</a>